

@media (min-width: 993px) {
    .menu {
        display: none;
    }
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: orange;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 200px;
    }

    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
    }

    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }

    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
    }


    body {
        width: 1830px;
        background: url(https://klike.net/uploads/posts/2022-11/1669012475_3-34.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .GLcontainer {
        max-width: 1830px;
        min-width: 320px;
    }


    .main-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1);
        
    }
    .containertelo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        
    }
    
    .containertelo1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        
    }

    .containertelo {
        grid-column: 3/11;
        margin-top: 100px;
    }

    .containertelo1 {
        grid-column: 3/11;
    }
    
    .containertelo2 {
        grid-column: 3/11;
    }
    
    .containertelo3 {
        grid-column: 3/11;
    }
    
    .containertelo4 {
        grid-column: 3/11;
    }
    
    .containertelo5 {
        grid-column: 3/11;
    }



    .main-header {
        height: 3px;
    }
    .navbar-menus {
        font-size: 15px;
    }
    
    .sub-header {
        height: 50px; 
    }

    .navbar-menu {
        font-size: 30px;
    }

    .line {
        height: 1px;
    }

    
    
.main-header {
    background-color: #191A1C;
    padding: 20px;
    text-align: right;
}

.main-header .mcontainer {
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
   
}

.navbar-menus {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menus li {
    display: inline-block;
}

.navbar-menus li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(237, 230, 230);
    padding: 10px;
}

.navbar-menus li a:hover {
    color: aquamarine;
}

.navbar-wrape {
    display: flex;
    flex-flow: row wrap;
}



.sub-header {
    background-color: #191A1C;
    padding: 10px;
    text-align: left;
    
}

.sub-header .container {
    display: flex;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
   
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menu li a:hover {
    color: aquamarine;
}

.navbar-wrap {
    display: flex;
    flex-flow: row wrap;
}


    
.card1 {
    margin: 0.5em;
    position: relative;
}

.card1>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card1>.info {
    text-align: center;
}

.card1 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card2 {
    margin: 0.5em;
    position: relative;
}

.card2>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card2>.info {
    text-align: center;
}

.card2 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card3 {
    margin: 0.5em;
    position: relative;
}

.card3>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card3>.info {
    text-align: center;
}

.card3 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card4 {
    margin: 0.5em;
    position: relative;
}

.card4>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card4>.info {
    text-align: center;
}

.card4 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card5 {
    margin: 0.5em;
    position: relative;
}

.card5>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card5>.info {
    text-align: center;
}

.card5 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card6 {
    margin: 0.5em;
    position: relative;
}

.card6>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card6>.info {
    text-align: center;
}

.card6 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card7 {
    margin: 0.5em;
    position: relative;
}

.card7>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card7>.info {
    text-align: center;
}

.card7 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card8 {
    margin: 0.5em;
    position: relative;
}

.card8>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card8>.info {
    text-align: center;
}

.card8 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card9 {
    margin: 0.5em;
    position: relative;
}

.card9>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card9>.info {
    text-align: center;
}

.card9 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card10 {
    margin: 0.5em;
    position: relative;
}

.card10>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card10>.info {
    text-align: center;
}

.card10 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card11 {
    margin: 0.5em;
    position: relative;
}

.card11>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card11>.info {
    text-align: center;
}

.card11 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card12 {
    margin: 0.5em;
    position: relative;
}

.card12>a>img {
      width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card12>.info {
    text-align: center;
}

.card12 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}


.podval {
    background-color: #191A1C;
    height: 300px;
    width: 100%;
}

.navbar-menues {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menues li {
    display: inline-block;
}

.navbar-menues li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menues li a:hover {
    color: aquamarine;
}

.navbar-wrapes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.navbar-wrapess {
    position: absolute;
    margin-top: 150px;
}


.navbar-menueses {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
}

.navbar-menueses li {
    display: inline-block;
}

.navbar-menueses li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menueses li a:hover {
    color: aquamarine;
}


.navbar-menuesess {
    bottom: 0;
    right: 0;
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
    color: white;
    font-size: 15px;
}

.navbar-menuesess li {
    display: inline-block;
}

.navbar-menuesess li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menuesess li a:hover {
    color: aquamarine;
}



.navbar-menuesesss {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
    color: white;
    font-size: 20px;
}

.navbar-menuesesss li {
    display: inline-block;
}


.navbar-menuesesss li a:hover {
    color: aquamarine;
}

   

    
}












@media (max-width:992px) and (min-width: 480px) {
    .menu {
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;
        background-color: #191A1C;
    }
    
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    
    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 80px;
        height: 26px;
        margin-right: 10px;
    }
    
    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 20px;
        background: #ffffff;
    }
    
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #fffefe;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    
    .menu-list {
        top: 90px;
        right: -200px;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background-color: #191A1C;
        list-style-type: none;
        transform: translateX(0);
        transition: .3s;
        width: 200px;
        font-family: disket mono;
    }
    
    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
    }
    
    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }
    
    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(-100%);
    }

    body {
        width: 992px;
        background: url(https://klike.net/uploads/posts/2022-11/1669012475_3-34.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .GLcontainer {
        max-width: 992px;
        min-width: 481px;
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2);
    
    }
    .containertelo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        
    }
    
    .containertelo1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        
    }

    .containertelo {
        grid-column: 1/13;
        margin-top: 80px;
    }

    .containertelo1 {
        grid-column: 1/13;
    }
    
    .containertelo2 {
        grid-column: 1/13;
    }
    
    .containertelo3 {
        grid-column: 1/13;
    }
    
    .containertelo4 {
        grid-column: 1/13;
    }
    
    .containertelo5 {
        grid-column: 1/13;
    }
    
    

    .main-header {
        height: 30px;
    }
    .navbar-menus {
        font-size: 20px;
    }
    
   
    
    .sub-header {
        height: 100px; 
    }
    .navbar-menu {
        font-size: 40px;
    }

    .line {
        height: 4px;
        display: none;
    }

    
    
.main-header {
    background-color: #191A1C;
    padding: 20px;
    text-align: right;
    display: none;
}

.main-header .mcontainer {
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
   
}

.navbar-menus {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menus li {
    display: inline-block;
}

.navbar-menus li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(237, 230, 230);
    padding: 10px;
}

.navbar-menus li a:hover {
    color: aquamarine;
}

.navbar-wrape {
    display: flex;
    flex-flow: row wrap;
}



.sub-header {
    background-color: #191A1C;
    padding: 10px;
    text-align: left;
    display: none;
    
}

.sub-header .container {
    display: flex;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
   
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menu li a:hover {
    color: aquamarine;
}

.navbar-wrap {
    display: flex;
    flex-flow: row wrap;
}

.logo {
    width: 40%;
    float: left;
    margin-top: -20px;
}

.logo img {
    width: 100%;
    height: auto;
}



    
.card1 {
    margin: 0.5em;
    position: relative;
}

.card1>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card1>.info {
    text-align: center;
}

.card1 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card2 {
    margin: 0.5em;
    position: relative;
}

.card2>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card2>.info {
    text-align: center;
}

.card2 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card3 {
    margin: 0.5em;
    position: relative;
}

.card3>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card3>.info {
    text-align: center;
}

.card3 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card4 {
    margin: 0.5em;
    position: relative;
}

.card4>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card4>.info {
    text-align: center;
}

.card4 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card5 {
    margin: 0.5em;
    position: relative;
}

.card5>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card5>.info {
    text-align: center;
}

.card5 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card6 {
    margin: 0.5em;
    position: relative;
}

.card6>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card6>.info {
    text-align: center;
}

.card6 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card7 {
    margin: 0.5em;
    position: relative;
}

.card7>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card7>.info {
    text-align: center;
}

.card7 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card8 {
    margin: 0.5em;
    position: relative;
}

.card8>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card8>.info {
    text-align: center;
}

.card8 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card9 {
    margin: 0.5em;
    position: relative;
}

.card9>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card9>.info {
    text-align: center;
}

.card9 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card10 {
    margin: 0.5em;
    position: relative;
}

.card10>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card10>.info {
    text-align: center;
}

.card10 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card11 {
    margin: 0.5em;
    position: relative;
}

.card11>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card11>.info {
    text-align: center;
}

.card11 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card12 {
    margin: 0.5em;
    position: relative;
}

.card12>a>img {
      width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card12>.info {
    text-align: center;
}

.card12 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}


.podval {
    background-color: #191A1C;
    height: 300px;
    width: 100%;
}

.logos {
    width: 27%;
    margin-left: 20px;
}

.navbar-menues {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menues li {
    display: inline-block;
    font-size: 17px;
}

.navbar-menues li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    
}

.navbar-menues li a:hover {
    color: aquamarine;
}

.navbar-wrapes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.navbar-wrapess {
    position: absolute;
    margin-top: 117px;
}


.navbar-menueses {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
}

.navbar-menueses li {
    display: inline-block;
    font-size: 17px;
}

.navbar-menueses li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menueses li a:hover {
    color: aquamarine;
}


.navbar-menuesess {
    bottom: 0;
    right: 0;
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
    color: white;
    font-size: 15px;
}

.navbar-menuesess li {
    display: inline-block;
}

.navbar-menuesess li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menuesess li a:hover {
    color: aquamarine;
}



.navbar-menuesesss {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
    color: white;
    font-size: 25px;
}

.navbar-menuesesss li {
    display: inline-block;
}


.navbar-menuesesss li a:hover {
    color: aquamarine;
}
    

    
}


@media (max-width:480px) {

    .menu {
        display: flex;
        align-items: center;
        height: 100px;
        justify-content: space-between;
        background-color: #191A1C;
    }
    
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    
    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 80px;
        height: 26px;
        margin-right: 10px;
    }
    
    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 20px;
        background: #ffffff;
    }
    
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #fffefe;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    
    .menu-list {
        top: 90px;
        right: -200px;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background-color: #191A1C;
        list-style-type: none;
        transform: translateX(0);
        transition: .3s;
        width: 200px;
        font-family: disket mono;
    }
    
    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
    }
    
    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }
    
    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(-100%);
    }

    body {
        width: 480px;
        background: url(https://klike.net/uploads/posts/2022-11/1669012475_3-34.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .GLcontainer {
        max-width: 480px;
    }
    .main-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2);
    
    }
    .containertelo {
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        
    }
    
    .containertelo1 {
       
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo2 {
      
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo3 {
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo4 {
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
    
    .containertelo5 {
       
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        
    }

    .containertelo {
        grid-column: 1/13;
        margin-top: 80px;
    }

    .containertelo1 {
        grid-column: 1/13;
    }
    
    .containertelo2 {
        grid-column: 1/13;
    }
    
    .containertelo3 {
        grid-column: 1/13;
    }
    
    .containertelo4 {
        grid-column: 1/13;
    }
    
    .containertelo5 {
        grid-column: 1/13;
    }
    
    

    .main-header {
        height: 10px;
        display: none;
    }
    .navbar-menus {
        font-size: 15px;
    }
    
   
    
    .sub-header {
        height: 50px; 
        display: none;
    }
    .navbar-menu {
        font-size: 12px;
    }

    .line {
        height: 4px;
        display: none;
    }

    
    
.main-header {
    background-color: #191A1C;
    padding: 20px;
    text-align: right;
}

.main-header .mcontainer {
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
   
}

.navbar-menus {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menus li {
    display: inline-block;
}

.navbar-menus li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(237, 230, 230);
    padding: 10px;
}

.navbar-menus li a:hover {
    color: aquamarine;
}

.navbar-wrape {
    display: flex;
    flex-flow: row wrap;
}



.sub-header {
    background-color: #191A1C;
    padding: 10px;
    text-align: left;
    
}

.sub-header .container {
    display: flex;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
   
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menu li a:hover {
    color: aquamarine;
}

.navbar-wrap {
    display: flex;
    flex-flow: row wrap;
}



    
.card1 {
    margin: 0.5em;
    position: relative;
}

.card1>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card1>.info {
    text-align: center;
}

.card1 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card2 {
    margin: 0.5em;
    position: relative;
}

.card2>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card2>.info {
    text-align: center;
}

.card2 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card3 {
    margin: 0.5em;
    position: relative;
}

.card3>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card3>.info {
    text-align: center;
}

.card3 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card4 {
    margin: 0.5em;
    position: relative;
}

.card4>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card4>.info {
    text-align: center;
}

.card4 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card5 {
    margin: 0.5em;
    position: relative;
}

.card5>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card5>.info {
    text-align: center;
}

.card5 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card6 {
    margin: 0.5em;
    position: relative;
}

.card6>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card6>.info {
    text-align: center;
}

.card6 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card7 {
    margin: 0.5em;
    position: relative;
}

.card7>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card7>.info {
    text-align: center;
}

.card7 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card8 {
    margin: 0.5em;
    position: relative;
}

.card8>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card8>.info {
    text-align: center;
}

.card8 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card9 {
    margin: 0.5em;
    position: relative;
}

.card9>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card9>.info {
    text-align: center;
}

.card9 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card10 {
    margin: 0.5em;
    position: relative;
}

.card10>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card10>.info {
    text-align: center;
}

.card10 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card11 {
    margin: 0.5em;
    position: relative;
}

.card11>a>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card11>.info {
    text-align: center;
}

.card11 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}

.card12 {
    margin: 0.5em;
    position: relative;
}

.card12>a>img {
      width: 100%;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
}

.card12>.info {
    text-align: center;
}

.card12 p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: disket mono;
    width: 100%;
    text-align: center;
}
    


.podval {
    background-color: #191A1C;
    height: 300px;
    width: 100%;
}

.logos {
    width: 27%;
    margin-left: 20px;
}

.navbar-menues {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
}

.navbar-menues li {
    display: inline-block;
    font-size: 17px;
}

.navbar-menues li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    
}

.navbar-menues li a:hover {
    color: aquamarine;
}

.navbar-wrapes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar-wrapess {
    position: absolute;
    margin-top: 27px;
}


.navbar-menueses {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
}

.navbar-menueses li {
    display: inline-block;
    font-size: 17px;
}

.navbar-menueses li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menueses li a:hover {
    color: aquamarine;
}


.navbar-menuesess {
    bottom: 0;
    right: 0;
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
    color: white;
    font-size: 14px;
}

.navbar-menuesess li {
    display: inline-block;
}

.navbar-menuesess li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.navbar-menuesess li a:hover {
    color: aquamarine;
}



.navbar-menuesesss {
    list-style-type: none;
    padding-left: 23px;
    margin-bottom: 0;
    font-family: disket mono;
    padding-right: 40px;
    color: white;
    font-size: 26px;
}

.navbar-menuesesss li {
    display: inline-block;
}


.navbar-menuesesss li a:hover {
    color: aquamarine;
}
    
}









.header-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
}

.line {
    top: 39%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}





* {
    margin: 0;
    padding: 0;
}

head {
    background-color: #222222;
}





.scontainerm {
    width: 95%;
    overflow: hidden;
    display: inherit;
    margin-top: 200px;
    border-style: solid;
    border-color: rgb(98, 0, 255);
    border-radius: 50px;
    border-width: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}



.navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}




.scontainerm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1);
    
}


.scontainerm {
    grid-column: 3/11;
}

.body {
    grid-column: 1/13;
}




